# Environment files
.env
.env.*
.example.env


# Python
__pycache__/
*.py[cod]
*$py.class
# System & Logs
.DS_Store
logs
*.log

# Dependencies & Build
node_modules/
dist/
dist-ssr/
.venv/
.pytest_cache/

# Streamlit
.streamlit/

# Project Specific Data (Large Files)
data/*.npy
data/*.parquet
docs/images/celebA/

# OS specific
.DS_Store
